@mixin background-images($background-name: rain) {
  @if $background-name == rainy {
    background: url(rainy.jpg);
    color: white;
  }
  @if $background-name == clouds {
    background: url(clouds.jpg);
    color: white;
  }
  @if $background-name == clearbg {
    background: url(clearbg.jpg);
    color: white;
  }
}
.container {
  height: 100%;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto 30%;
  grid-template-areas:
    ". menu"
    "info menu";
  .rainybg {
    @include background-images(rainy);
  }
  .cloudsbg {
    background: url(clouds.jpg);
  }
  .clearsbg {
    background: url(clearbg.jpg);
  }
}
.menu {
  grid-area: menu;
}
