@import "../src/index.scss";
.side-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  font-weight: 300;
  min-width: 400px;
  padding: 0 0 20px 40px;
  backdrop-filter: blur(10px);
  color: $text-white-color;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-areas: "search" "cities" "hr" "weatherDetails";
  grid-template-columns: 1fr;
  grid-template-rows: 20% 40% auto 40%;

  .value {
    text-align: right;
    margin-right: 10px;
  }
  .cities {
    grid-area: cities;
    a {
      margin-top: 35px;
    }
  }
  .weatherDetails {
    grid-area: weatherDetails;
  }
  .value {
    grid-area: value;
    text-align: right;
    float: right;
  }
  .name {
    grid-area: wthname;
  }

  a {
    display: block;
    margin-top: 20px;
  }
  hr {
    margin-top: 20px;
    grid-area: hr;
  }

  input {
    border: none;
    border-bottom: 1px solid $basebg-color;
    margin-bottom: 40px;
    background: none;
    color: $basebg-color;
    font-size: 16 px;
  }

  h2 {
    margin: 30px 30px 30px 0;
    color: white;
  }

  div {
    margin-bottom: 20px;
    border-radius: 5px;

    p {
      margin: 5px 0;
      padding: 10px 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .side-window {
    position: relative;
    min-width: 0;
    padding: 0 5px;
  }
}
