.weatherContainer {
  grid-area: info;
  display: inline;
  padding-left: 10%;
  &h1 {
    display: inherit;
  }
  display: grid;
  grid-template-columns: auto 250px auto;
  grid-template-areas: "degrees city weather";
}
.degrees {
  font-size: 7rem;
  grid-area: degrees;
  text-align: end;
  padding-right: 3%;
}
.weather {
  grid-area: weather;
  & p {
    padding-left: 30px;
  }
}
.city {
  grid-area: city;
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  max-width: 210px;
  min-width: 50px;
}
.date {
  grid-area: date;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .weatherContainer {
    padding-left: 0;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
      "degrees"
      "weather"
      "city";
    text-align: center;
    justify-content: center;
    .degrees {
      padding: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    .city {
      text-align: center;
    }
    .weather {
      justify-content: center;
      text-align: center;
    }
  }
}
